.text-book {
  font-family: 'Intro Book', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  color: #333333;
}
.text-bold {
  font-family: 'Intro Bold', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  color: #333333;
}
.text-regular {
  font-family: 'Intro Regular', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  color: #333333;
}
.btn {
  width: 16rem;
  height: 5rem;
  border: 0.1rem solid #be3d3d;
  border-radius: 4rem;
  position: relative;
  overflow: hidden;
  transition: 0.2s ease all;

  font-family: "Intro Book";
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  color: #333333;
}
.btn:hover {
  color: white;
}
.btn::before {
  transition: 0.2s ease all;
  content: "";
  position: absolute;
  bottom: -10rem;
  background-color: #be3d3d;
  width: 20rem;
  height: 10rem;
  border-radius: 50rem;
  left: -2rem;
  z-index: -1;
  transform: translateY(0);
}
.btn:hover::before {
  transform: translateY(-7rem);
  z-index: -2;
}
