<section class="event">
  <div class="event__container">
    <div class="event__upper-block">
      <h2 class="event__title text-bold">Предстоящие мероприятие</h2>
      <button class="btn event__button">Смотреть все</button>
    </div>
    <div class="event__block-container">
      <div class="event__block text-bold">
        <div class="event__block-text">
          <h4 class="text-bold event__block-title">Адаптация бизнеса к новым возможностям. Опыт лидеров.</h4>
          <p class="text-book event__block-text">24 марта 2021 года, Москва, концертный зал «МИР», Цветной бульвар, 11. Именно здесь начнутся поединки компаний в формате...</p>
          <ul class="event__block-ul">
            <li class="event__block-li">
              <img src="/images/icons/calendar.svg" alt="calendar" class="event__block-icon">
              <p class="text-book event__block-icon-text">14 ОКТЯБРЯ 2023</p>
            </li>
            <li class="event__block-li">
              <img src="/images/icons/location.svg" alt="location" class="event__block-icon">
              <p class="text-book event__block-icon-text">Москва, «Красный Октябрь»</p>
            </li>
          </ul>
          <button class="text-bold event__block-btn">ЗАРЕГИСТРИРОВАТЬСЯ</button>
        </div>
      </div>

      <div class="event-slider-block">
        <div class="swiper-wrapper">
          <img class="swiper-slide event-image" src="/images/mainImg/eventImage.jpg" alt="image"/>
          <img class="swiper-slide event-image" src="/images/mainImg/eventImage.jpg" alt="image"/>
          <img class="swiper-slide event-image" src="/images/mainImg/eventImage.jpg" alt="image"/>
        </div>
        <div class="event__btns">
          <div class="swiper-button-prev event-prev-btn"></div>
          <div class="swiper-button-next event-next-btn"></div>
        </div>
      </div>
    </div>
  </div>
</section>