<header class="header">
    <div class="header__container">
        <div class="header__block">
            <img src="images/icons/logo.svg" alt="logo" class="header__logo">
            <nav class="header__nav">
                <a href="/" class="header__link">ПРОШЕДШИЕ МЕРОПРИЯТИЯ</a>
                <a href="/" class="header__link">ПРОГРАММА МЕРОПРИЯТИЯ</a>
                <a href="/" class="header__link">СПОНСОРАМ</a>
                <a href="/" class="header__link">КОНТАКТЫ</a>
            </nav>
        </div>
        <div class="header__block">
            <a href="/" target="_blank" class="header__link header__link_number">8 880 200 62 69 </a>
            <button class="btn header__button">РЕГИСТРАЦИЯ</button>
        </div>
    </div>
</header>
