<section class="intro">
  <div class="intro__container">
    <div class="intro__left-block">
      <nav class="intro__nav">
        <a target="_blank" href="/" class="text-book intro__link ">все МЕРОПРИЯТИЯ</a>
        <a target="_blank" href="/" class="text-book intro__link">ПРЕДСТОЯЩИЕ мероприятия</a>
        <a target="_blank" href="/" class="text-book intro__link">ПРОШЕДШИЕ мероприятия</a>
        <a target="_blank" href="/" class="text-book intro__link">УЧАСТНИКАМ</a>
        <a target="_blank" href="/" class="text-book intro__link">КОНТАКТЫ</a>
      </nav>
      <div class="intro__block">
        <h1 class="intro__title">FLAMAX BUSINESS</h1>
        <p class="text-bold intro__uppertitle">Живая платформа для общения и поиска деловых партнеров</p>
        <p class="text-book intro__text">За 15 лет активной деятельности компания участвовала в десятках отраслевых и строительных мероприятий, а также организовывала социально значимые благотворительные мероприятия. Накопленный опыт аккумулировался в создание собственных оффлайн мероприятий — FLAMAX Business.</p>
      </div>
    </div>
    <div class="intro__card">
      <div class="intro__card-upper">
        <p class="text-book intro__card-text">До начала</p>
        <ul class="intro__card-time">
          <li class="intro__card-li">
            <p class="intro__time text-regular">12</p>
            <p class="intro__time-text">дней</p>
          </li>
          <li class="intro__card-li">
            <p class="intro__time text-regular">8</p>
            <p class="intro__time-text">часов</p>
          </li>
          <li class="intro__card-li">
            <p class="intro__time text-regular">56</p>
            <p class="intro__time-text">минут</p>
          </li>
        </ul>
      </div>

      <div class="intro__card-bottom">
        <ul class="intro__card-bottom-ul">
          <li class="intro__card-bottom-li">
            <img src="/images/icons/calendar.svg" alt="icon" class="intro__card-icon">
            <p class="intro__card-date">14 ОКТЯБРЯ 2023</p>
          </li>
            <li class="intro__card-bottom-li">
            <img src="/images/icons/location.svg" alt="icon" class="intro__card-icon">
            <p class="intro__card-date">Москва, «Красный Октябрь»</p>
          </li>
        </ul>
        <h4 class="intro__card-title text-bold">Кондуктометрические и гидростатические датчики уровня воды в резервуарах FLAMAX</h5>
        <button class="intro__button text-bold">Подробнее</button>
      </div>
    </div>
  </div>
</section>