<section class="lastevent">
  <div class="lastevent__container">
    <div class="lastevent__upper-block">
      <span class="lastevent__title-container">
        <h2 class="text-bold lastevent__title">ПРОШЕДШИЕ МЕРОПРИЯТИЯ</h2>
        <p class="text-book lastevent__title-number">37</p>
      </span>
      <button class="btn lastevent__button">Смотреть все</button>
    </div>
    <div class="lastevent__main">

      <a href="/" class="lastevent__card">
        <div class="lastevent__image-block">
          <span class="lastevent__complete-block">
            <p class="text-book lastevent__complete-text">Завершено</p>
          </span>
          <img src="/images/mainImg/introSwiper.jpg" alt="image" class="lastevent__image">
        </div>
        <div class="lastevent__card-main-block">
          <ul class="lastevent__card-ul">
            <li class="lastevent__card-li">
              <img src="/images/icons/calendar.svg" alt="icon" class="lastevent__card-icon">
              <p class="text-book lastevent__card-date">14 ОКТЯБРЯ 2023</p>
            </li>
              <li class="lastevent__card-li">
              <img src="/images/icons/location.svg" alt="icon" class="lastevent__card-icon">
              <p class="text-book lastevent__card-date">Москва, «Красный Октябрь»</p>
            </li>
          </ul>
          <p class="text-bold lastevent__card-uppertitle">Насосные станции в автоматических системах пожаротушения</p>
          <p class="text-book lastevent__card-text">В стандартных резервуарах FLAMAX для выполнения различных технологических процессов, связанных с эксплуатацией резервуара, необходимо фиксировать определенные уровни наполнения емкостей</p>
        </div>
        <div class="lastevent__card-arrow"></div>
      </a>

      <a href="/" class="lastevent__card">
        <div class="lastevent__image-block">
          <span class="lastevent__complete-block">
            <p class="text-book lastevent__complete-text">Завершено</p>
          </span>
          <img src="/images/mainImg/eventImage.jpg" alt="image" class="lastevent__image">
        </div>
        <div class="lastevent__card-main-block">
          <ul class="lastevent__card-ul">
            <li class="lastevent__card-li">
              <img src="/images/icons/calendar.svg" alt="icon" class="lastevent__card-icon">
              <p class="text-book lastevent__card-date">14 ОКТЯБРЯ 2023</p>
            </li>
              <li class="lastevent__card-li">
              <img src="/images/icons/location.svg" alt="icon" class="lastevent__card-icon">
              <p class="text-book lastevent__card-date">Москва, «Красный Октябрь»</p>
            </li>
          </ul>
          <p class="text-bold lastevent__card-uppertitle">Кондуктометрические и гидростатические датчики уровня воды в резервуарах FLAMAX</p>
          <p class="text-book lastevent__card-text">В данной статье мы рассмотрим типы систем пожаротушения 
          и какую роль в них играют насосные станции.</p>
        </div>
        <div class="lastevent__card-arrow"></div>
      </a>

      <a href="/" class="lastevent__card">
        <div class="lastevent__image-block">
          <span class="lastevent__complete-block">
            <p class="text-book lastevent__complete-text">Завершено</p>
          </span>
          <img src="/images/mainImg/eventLastImage.jpg" alt="image" class="lastevent__image">
        </div>
        <div class="lastevent__card-main-block">
          <ul class="lastevent__card-ul">
            <li class="lastevent__card-li">
              <img src="/images/icons/calendar.svg" alt="icon" class="lastevent__card-icon">
              <p class="text-book lastevent__card-date">14 ОКТЯБРЯ 2023</p>
            </li>
              <li class="lastevent__card-li">
              <img src="/images/icons/location.svg" alt="icon" class="lastevent__card-icon">
              <p class="text-book lastevent__card-date">Москва, «Красный Октябрь»</p>
            </li>
          </ul>
          <p class="text-bold lastevent__card-uppertitle">Кондуктометрические и гидростатические датчики уровня воды в резервуарах FLAMAX</p>
          <p class="text-book lastevent__card-text">В стандартных резервуарах FLAMAX для выполнения различных технологических процессов, связанных с эксплуатацией резервуара, необходимо фиксировать определенные уровни наполнения емкостей</p>
        </div>
        <div class="lastevent__card-arrow"></div>
      </a>
      
    </div>
  </div>
</section>