<section class="slider">
    <div class="swiper-wrapper slider-swiper-wrapper">
      <img class="swiper-slide swiper-image" src="/images/mainImg/introSwiper.jpg" alt="image"/>
      <img class="swiper-slide swiper-image" src="/images/mainImg/introSwiper.jpg" alt="image"/>
      <img class="swiper-slide swiper-image" src="/images/mainImg/introSwiper.jpg" alt="image"/>
    </div>
    <div class="slider__btns">
      <div class="swiper-button-prev slider-prev-btn"></div>
      <div class="swiper-button-next slider-next-btn"></div>
    </div>
    <div class="swiper-pagination slider-pagination"></div>
</section>