.event {
  margin-top: 12.4rem;
}
.event__block-container {
  display: flex;
  column-gap: 4rem;
  margin-top: 8rem;
  overflow: hidden;
  position: relative;
}
.event__upper-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.event__title {
  font-size: 4.3rem;
  text-transform: uppercase;
}
.event__button {
  width: 15rem;
  height: 5.2rem;
  border: .1rem solid black;
  font-size: 1.3rem;
}
.event__button::before {
  content: "";
  background-color: black;
}
.event__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 52rem;
}
.event__block-text {
  font-size: 1.5rem;
  width: 100%;
  max-width: 37.2rem;
  line-height: 1.2;
  margin-top: 2rem;
}
.event__block-title {
  font-size: 2rem;
  text-transform: uppercase;
}
.event__block-ul {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  margin-top: 3.5rem;
}
.event__block-li {
  display: flex;
  align-items: center;
  column-gap: .8rem;
}
.event__block-icon {
  width: 2rem;
  height: 2rem;
}
.event__block-icon-text {
  font-size: 1.5rem;
}
.event__block-btn {
  margin-top: 3.5rem;
  width: 21.1rem;
  height: 6rem;
  font-size: 1.2rem;
}
.event-slider-block {
  position: absolute;
  width: 100rem;
  height: 52rem;
  overflow: hidden;
  right: 0;
}
.event-image {
  width: 75rem !important;
  height: 52rem;
  transform: scale(0.7) !important;
  transition: .4s ease all;
}
img.swiper-slide.event-image.swiper-slide-active  {
  transform: scale(1) !important;
  transition: .4s ease all;
}
.event__block-btn {
  width: 21.1rem;
  height: 6rem;
  border-radius: 7rem;
  position: relative;
  overflow: hidden;
  z-index: 100;
  background-color: #d54d4d;
  font-size: 1.3rem;
  color: white;
  transition: .4s ease all;
  margin-top: 2.5rem;
}
.event__block-btn::before {
  transition: .7s ease all;
  content: "";
  position: absolute;
  background-color: #cf2020;
  width: 33rem;
  height: 25rem;
  border-radius: 50rem;
  z-index: -1;
  transform: translateY(15rem);
  left: -5rem;
  top: -5rem;
  border-radius: 50%;
}
.event__block-btn:hover::before {
  transform: translateY(0)
}
.event-prev-btn {
  position: relative;
}
.event-next-btn {
  position: relative;
}
.event__btns .swiper-button-next::after {
  content: ""
} 
.event__btns .swiper-button-prev::after {
  content: ""
}
.event__btns {
  display: flex;
  position: absolute;
  bottom: 3rem;
  left: 4rem;
  z-index: 100;
  left: 0;
  bottom: 0;
}
.event__btns .swiper-button-prev {
  position: static;
  transition: .4s ease all;
}
.event__btns .swiper-button-next {
  position: static;
  transition: .4s ease all;
}
.event__btns .swiper-button-prev:hover {
  opacity: .7;
}
.event__btns .swiper-button-next:hover {
  opacity: .7;
}
.event__btns .event-next-btn::after {
  content: "";
  position: absolute;
  background-image: url("/images/icons/rightBlackBtn.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 1.1rem;
  height: 1.5rem;
} 
.event__btns .event-prev-btn::after {
  content: "";
  position: absolute;
  background-image: url("/images/icons/leftBlackBtn.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 1.1rem;
  height: 1.5rem;
} 
.event__btns .event-next-btn {
  width: 3.7rem;
  height: 4rem;
  border-top: .15rem solid rgba(0, 0, 0, 0.411);
  border-right: .15rem solid rgba(0, 0, 0, 0.411);
  border-bottom: .15rem solid rgba(0, 0, 0, 0.411);
  border-radius: 0 50% 50% 0;
}
.event__btns .event-prev-btn {
  width: 3.7rem;
  height: 4rem;
  border-top: .15rem solid rgba(0, 0, 0, 0.411);
  border-bottom: .15rem solid rgba(0, 0, 0, 0.411);
  border-left: .15rem solid rgba(0, 0, 0, 0.411);
  border-radius: 50% 0 0 50%;
}
.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
  opacity: 1 !important;
}