.header {
  padding: 1rem 6rem;
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  background-color: white;
  z-index: 1000;
  transition: .4s ease all;
}
.header_active {
  -webkit-box-shadow: 0px 7px 18px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 7px 18px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 7px 18px 0px rgba(34, 60, 80, 0.2);
}
.header__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__block {
  display: flex;
  align-items: center;
}
.header__logo {
  width: 11.2rem;
  height: 4.8rem;
  margin-right: 12rem;
  margin-top: 2rem;
}
.header__nav {
  display: flex;
  column-gap: 3.2rem;
}
.header__link {
  font-family: "Intro Book";
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  display: flex;
  color: #333333;
  text-transform: uppercase;
  padding-top: 0.7rem;
  transition: 0.4s ease all;
}
.header__link:hover {
  color: #be3d3d;
}
.header__link_number {
  font-size: 1.3rem;
  margin-right: 2rem;
  position: relative;
}
.header__link_number:hover {
  opacity: 1;
  color: #be3d3d;
}
.header__link_number::before {
  content: "";
  position: absolute;
  background-image: url("/images/icons/phone.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 1.4rem;
  height: 1.4rem;
  left: -2.5rem;
  top: 0.5rem;
  transition: 0.2s ease all;
}
.header__link_number:hover::before {
  background-image: url("/images/icons/phoneHover.svg");
}
.header__button {
  width: 16rem;
  height: 5rem;
  border: 0.1rem solid #be3d3d;
  border-radius: 4rem;
  position: relative;
  overflow: hidden;
  transition: 0.2s ease all;

  font-family: "Intro Book";
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  color: #333333;
}
.header__button:hover {
  color: white;
}
.header__button::before {
  transition: 0.2s ease all;
  content: "";
  position: absolute;
  bottom: -10rem;
  background-color: #be3d3d;
  width: 20rem;
  height: 10rem;
  border-radius: 50rem;
  left: -2rem;
  z-index: -1;
  transform: translateY(0);
}
.header__button:hover::before {
  transform: translateY(-5rem);
}
