.slider {
  margin-top: 6rem;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.swiper-image {
  width: 100%;
  height: auto;
}
.slider-prev-btn {
  position: relative;
}
.slider-next-btn {
  position: relative;
}
.slider__btns .swiper-button-next::after {
  content: ""
} 
.slider__btns .swiper-button-prev::after {
  content: ""
}
.slider__btns {
  display: flex;
  position: absolute;
  bottom: 3rem;
  left: 4rem;
  z-index: 100;
}
.slider__btns .swiper-button-prev {
  position: static;
  transition: .4s ease all;
}
.slider__btns .swiper-button-next {
  position: static;
  transition: .4s ease all;
}
.slider__btns .swiper-button-prev:hover {
  opacity: .7;
}
.slider__btns .swiper-button-next:hover {
  opacity: .7;
}
.slider__btns .slider-next-btn::after {
  content: "";
  position: absolute;
  background-image: url("/images/icons/rightBtn.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 1.1rem;
  height: 1.5rem;
} 
.slider__btns .slider-prev-btn::after {
  content: "";
  position: absolute;
  background-image: url("/images/icons/leftBtn.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 1.1rem;
  height: 1.5rem;
} 
.slider__btns .slider-next-btn {
  width: 3.7rem;
  height: 4rem;
  background-color: rgba(255, 255, 255, 0.411);
  border-radius: 0 50% 50% 0;
}
.slider__btns .slider-prev-btn {
  width: 3.7rem;
  height: 4rem;
  background-color: rgba(255, 255, 255, 0.411);
  border-radius: 50% 0 0 50%;
}
.slider-pagination .swiper-pagination-bullet {
  width: 36rem;
  border-radius: 1rem;
  background-color: white;
  opacity: .2;
  height: .4rem;
  margin-bottom: 3.5rem !important;
}
.slider-pagination .swiper-pagination-bullet-active {
  background-color: white;
  opacity: 1 !important;
  height: .4rem;
  margin-bottom: 3.5rem !important;
}